@import "grid/ogrm";
@import "grid/simple/simole";

h1 {
	font-size: 36px;
}
h2 {
	font-size: 32px;
}
p {
	font-size: 10px;
}
.img {
background-color: antiquewhite;
}
body {
	background-color: aqua;
}